/* Basic styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cf805e;
    padding: 0 20px;
    width: 100%;
    height: 150px;
    position: relative;
}

.logo-container img {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 80px;
    height: auto;
}

h1 {
    font-family: 'Comic Sans MS', 'Chalkboard SE', cursive;
    color: white;
    font-size: 2.5em; /* Enlarged to take up 50% width */
    margin: 10px 0; /* Vertical spacing */
}

.navbar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* Centers navbar under the title */
    display: flex;
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    padding: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

*, *::before, *::after { /* To ensure padding and borders are considered for all element width calculations */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    header {
        height: 120px; /* Smaller header on mobile */
    }

    .logo-container img {
        width: 40px; /* Smaller logo */
    }

    h1 {
        font-size: 1.2em; /* Smaller font size for limited space */
    }

    footer {
        position: fixed; /* Maintain bottom position */
        width: 100%;
    }
}

main {
    padding: 20px;
}

.difficulty-select, .attempts, .results, .score-board {
    margin-top: 20px;
}

.choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-container p {
    margin-top: 10px;
    font-size: 1.1em;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 20px;
    flex-wrap: wrap;
}

.choices img {
    cursor: pointer;
    width: 15vh;
    max-width: 100px;
    height: auto;
    flex-shrink: 0;
}

.results img {
    margin-top: 20px;
    width: 15vh;
    height: auto;
}

.attempts, .results, .score-board {
    margin-top: 20px;
}

/* Additional styles for rule formatting */
h3 {
    text-decoration: underline;
}

ul {
    display: inline-block;
    text-align: left;
    padding-left: 20px; /* Adjusted padding to align bullet points correctly */
}

.important-text {
    font-style: italic;
    font-size: larger;
}

footer {
    text-align: right;
    padding: 10px 0;
    background-color: grey;
    color: yellow;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.9em;
}