/* Basic styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between;
    background-color: #cf805e;
    padding: 5px 20px 0 20px; /* Reduce top padding to make logo flush */
    width: 100%;
    height: 150px;
    position: relative;
}

.logo-container img {
    width: 80px;
    height: auto;
    margin-top: 5px; /* Adjust to make logo nearly flush with the top */
}

h1 {
    font-family: 'Comic Sans MS', 'Chalkboard SE', cursive; /* Fun, widely available fonts */
    color: white;
    font-size: 1.8em; /* Larger font size */
    width: 50%; /* Takes up 50% of the header's width */
    text-align: center; /* Ensure text is centered */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation-bar {
    position: absolute;
    top: 5px; /* Adjusted to better align with the top */
    right: 15px; /* Slightly moved left from the edge */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    padding: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.score {
    position: absolute;
    bottom: 5px; /* Adjusted for better visibility */
    right: 15px; /* Slightly moved left from the edge */
    color: white;
    font-size: 0.8em;
}

@media (max-width: 768px) {
    header {
        height: 100px;
    }

    .logo-container img {
        width: 60px;
    }

    h1 {
        font-size: 1.4em; /* Slightly smaller on mobile */
    }

    .score {
        font-size: 0.7em; /* Adjust for mobile visibility */
    }
}


main {
    padding: 20px;
}

.difficulty-select, .attempts, .results, .score-board {
    margin-top: 20px;
}

.choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-container p {
    margin-top: 10px;
    font-size: 1.1em;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 20px;
    flex-wrap: wrap;
}

.choices img {
    cursor: pointer;
    width: 15vh;
    max-width: 100px;
    height: auto;
    flex-shrink: 0;
}

.results img {
    margin-top: 20px;
    width: 15vh;
    height: auto;
}

.attempts, .results, .score-board {
    margin-top: 20px;
}